<div class="container my-5 border">
  <form [formGroup]="offlineForm">
    <div class="text-center">
      <h3>Login Form</h3>
    </div>

    <div
      *ngIf="offlineForm.get('name')?.invalid && (offlineForm.get('name')?.touched )"
    >
      <ion-item
        color="danger"
        *ngIf="offlineForm.get('name')?.errors?.['required']"
        >Please enter Your name.</ion-item
      >
      <ion-item
        color="danger"
        *ngIf="offlineForm.get('name')?.errors?.['minlength']"
        >Name must be at least 2 characters long.</ion-item
      >
    </div>
    <!-- Name input -->
    <h6 class="my-2">Enter Your Name</h6>

    <ion-item class="input-filed">
      <ion-label position="floating">Name</ion-label>
      <ion-input
        formControlName="name"
        type="text"
        [class.invalid-input]="offlineForm.get('name')?.invalid && (offlineForm.get('name')?.touched)"
      ></ion-input>
    </ion-item>

    <!-- File input -->
    <ion-item
      color="danger"
      *ngIf="offlineForm.get('imgFile')?.errors?.['fileSize']"
    >
      File size must be less than 1MB.
    </ion-item>
    <ion-item
      color="danger"
      *ngIf="offlineForm.get('imgFile')?.errors?.['fileType']"
    >
      Only JPEG, PNG, tif ,bmp and GIF formats are allowed.
    </ion-item>
    <!-- (imageNameSelected)="receiveFileName($event)" -->
    <app-select-image
      (imageSelected)="onSelectImg($event)"
     
    ></app-select-image>
    <!-- Record voice input -->

    <div
      *ngIf="offlineForm.controls['voiceInput'].invalid && offlineForm.controls['voiceInput'].touched"
      class="error"
    >
      <ion-item
        color="danger"
        *ngIf="offlineForm.get('voiceInput')?.errors?.['required']"
      >
        Audio is required.
      </ion-item>
    </div>

    <app-record-voice (audio)="onRecordMake($event)"></app-record-voice>
    <!--end  Record voice input -->
    <ion-button
      [disabled]="offlineForm.invalid"
      expand="block"
      color="success"
      (click)="onOfflineFormSubmit()"
      size="small"
      class="mb-3"
    >
      Create
    </ion-button>
  </form>
</div>
<ion-button
  expand="block"
  color="success"
  routerLink="/show-data"
  routerLinkActive="active"
  size="small"
  class="mb-3"
>
  Show Saved Data in Local
</ion-button>
<router-outlet> </router-outlet>