.invalid-input {
  border-color: red;
}
.error-message {
  text-transform: capitalize;
  --background: #fff0f0; /* Background color of the error message */
  --padding-start: 10px; /* Left padding of the error message */
}

ion-button {
  border-radius: 16px;
}


