<div class="container  my-5 border">
  <form [formGroup]="offlineForm">
    <div class="text-center">
      <h3>Login Form</h3>
    </div>

    <div
      *ngIf="offlineForm.get('name')?.invalid && (offlineForm.get('name')?.touched )"
    >
      <ion-item
        color="danger"
        *ngIf="offlineForm.get('name')?.errors?.['required']"
        >Please enter Your name.</ion-item
      >
      <ion-item
        color="danger"
        *ngIf="offlineForm.get('name')?.errors?.['minlength']"
        >Name must be at least 2 characters long.</ion-item
      >
    </div>
    <!-- Name input -->
    <h6 class="my-2">Enter Your Name</h6>

    <ion-item class="input-filed">
      <ion-label position="floating">Name</ion-label>
      <ion-input
        formControlName="name"
        type="text"
        [class.invalid-input]="offlineForm.get('name')?.invalid && (offlineForm.get('name')?.touched)"
      ></ion-input>
    </ion-item>

    <!-- File input -->
    <ion-item
      color="danger"
      *ngIf="offlineForm.get('imgFile')?.errors?.['fileSize']"
    >
      File size must be less than 1MB.
    </ion-item>
    <ion-item
      color="danger"
      *ngIf="offlineForm.get('imgFile')?.errors?.['fileType']"
    >
      Only JPEG, PNG, tif ,bmp and GIF formats are allowed.
    </ion-item>
    <div class="mt-3">
      <h6 class="my-2">Select Image</h6>
      <div
        class="d-flex justify-content-between p-3"
        (click)="fileLoader.click()"
      >
        <input
          type="file"
          accept="image/*"
          id="fileLoader"
          #fileLoader
          name="files"
          (change)="onFileSelected($event)"
          title="Load File"
          hidden
        />

        <p class="col-10 image-preview">
          <img
            *ngIf="imageUrl"
            [src]="imageUrl"
            class="img-fluid img-thumbnail"
          />
          <br />
          <span class="selected-image">{{selectedFile?.name}}</span>
        </p>
        <div class="col-2">
          <ion-icon name="add-circle-outline" size="large"></ion-icon>
        </div>
      </div>
    </div>

    <!-- Record voice input -->

    <div
      *ngIf="offlineForm.controls['voiceInput'].invalid && offlineForm.controls['voiceInput'].touched"
      class="error"
    >
      <ion-item
        color="danger"
        *ngIf="offlineForm.get('voiceInput')?.errors?.['required']"
      >
        Audio is required.
      </ion-item>
    </div>
    <h6 class="my-2">Record Audio</h6>
    <div class="d-flex justify-content-between align-items-center p-3">
      <div class="col-9">
        <div *ngIf="isRecording" (click)="stopRecording()">
          <div class="recording-container">
            <div class="recording-circle"></div>
            <div class="recording-text">Stop Recording</div>
          </div>
        </div>
        <!-- display audio -->
        <audio
          *ngIf="audioUrl && !isRecording"
          [src]="audioUrl"
          controls
        ></audio>
      </div>
      <div *ngIf="!isRecording " (click)="startRecording()" class="col-2">
        <ion-icon name="mic-off-outline" size="large"></ion-icon>
      </div>
      <div *ngIf="isRecording " (click)="stopRecording()" class="col-2">
        <ion-icon name="mic-outline" size="large"></ion-icon>
      </div>
    </div>

    <!--end  Record voice input -->
    <ion-button
      [disabled]="offlineForm.invalid"
      expand="block"
      color="success"
      (click)="onOfflineFormSubmit()"
      size="small"
      class="mb-3"
    >
      Create
    </ion-button>
  </form>
</div>
<a

expand="block"
color="success"
routerLink="/show-data"
size="small"
class="mb-3"
>
Show Data
</a>